#header .section_title {
    float: left;
    vertical-align: middle;
    width: auto;
}

#header .section_date {
    float: right;
    vertical-align: center;
    width: auto;
}

#header h1 {
    text-align: center;
    vertical-align: middle;
}
